@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.7;
    color: #000;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 20px;
}
.bdr01{
    border-bottom: 9px #1a5173 solid;
    position:relative
}
.bdr01::after {
    content: "";
    position: absolute;
    top: 0%;
    bottom: -18px;
    left: 0px;
    right: 0px;
    border-bottom: solid 3px #1a5173; /* 外枠のスタイル */
    z-index: -1;
    max-width: 980px;
}
.linkbtn{
    display: flex;
    justify-content: space-between;
}
.next{
    font-size: 23px;
    display: flex;
    margin: 0 40px 40px 0;
    position:relative;
    text-decoration: underline;
}
.next ::after {
    content: "";
    position: absolute;
    top: 7px;
    right: -30px;
    border-style: solid;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 22px solid #000000;
    border-right: 0;
}
.back{
    font-size: 23px;
    display: flex;
    margin: 0 40px 40px 40px;
    position: relative;
    text-decoration: underline;
}
.back ::before {
    content: "";
    position: absolute;
    top: 7px;
    right: 60px;
    border-style: solid;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 22px solid #000000;
    border-left: 0;
}


/* 見出し */
.section-title {
    font-size: 37px;
    padding: 0 ; 
    font-weight: bold; 
    line-height:1
}


/* HEADER
------------------------------- */
header {
    background-color: #BDE8F1;
    height: 78px;
    width: 100vw;
}
header .wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px 0 0;
}
.logo {
    margin: 5px ;
    color: #0e1d73;
    line-height: normal;
    font-size: 30px;
}
.main-nav {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 20px;
    list-style: none;
    color: #000;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: #432;
}

/* メインビジュアル
------------------------------- */
.mainvisual.grid{
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
}
.title-bg{
    position: relative; 
}
.title h2{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:0;
    margin:0;
    font-size:51px;
    color: #000;
    text-transform: capitalize;
    line-height:1.3;
    white-space: nowrap;
}
.block{
    background-size: cover;
    max-width: 490px;
    position: relative; 
    background-position: center;
}
.design-bg{
    background-image: url(design.jpg);     
}
.medical-bg{
    background-image: url(medical.jpg);
}
.entertainment-bg{
    background-image: url(entertainment.jpg);
}
.heading{
    background-color: rgba(0, 0, 0, 0.3);
    height: 272px;
}
.mv-heading{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:0;
    margin:0;
    font-size:37px;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 8%;
    text-shadow: 2px 2px 10px #000;
}


/* Works
------------------------------- */
#works .grid{
    display: grid;
    gap: 50px 30px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
    padding: 0;
}
.works-title{
    display: flex;
    margin: 40px 0 15px;
}
.works-heading{
    font-size: 18px;
    width: 90px;
    max-height: 25px;
    background: #BDE8F1;
    padding-bottom: 30px;
    text-align: center;
    color: #0e1d73;
    border-radius: 120px;
}
.works-heading-2{
    font-size: 18px;
    width: 167px;
    max-height: 25px;
    background: #BDE8F1;
    padding-bottom: 30px;
    text-align: center;
    color: #0e1d73;
    border-radius: 120px;
}
.client{
    font-size: 18px;
    font-weight: normal;
    margin-left: 10px;
}
#works .img{
    max-width: 380px;
    max-height: 380px;
    object-fit: contain;
    box-shadow: 0px 2px 15px #000;

}

/* About
------------------------------- */
#about li{
    font-size: 30px;
    font-weight: bold;
    position: relative;
    padding-left: 20px;
    list-style: none;
    margin-top: 20px;
}
#about li::before{
    content: "";
    position: absolute;
    top: 20px;
    left: 3px;
    width: 12px;
    height: 12px;
    background-color: #1A5173;
    border-radius: 50%;
}
#about p{
   margin: 5px 0 5px 23px;
}
.skill {
    font-weight: bold;
    display: flex;
}
#about .skill p{
    margin: 35px;
}


/* Contact
------------------------------- */
#contact form {
    margin: 24px auto 80px;
    max-width: 500px ;
}
label {
    font-size: 14px;
    margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
textarea {
    background: rgba(255,255,255,.5);
    border: 1px #000 solid;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}
input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 452px;
}
textarea {
    width: 100%;
    max-width: 452px;
    height: 6rem;

}
input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
}
.button{
    background-color: #0e1d73;
    color: #fff;
    padding: 11px 15px;
    width: 452px;
}

/* フッター
------------------------------- */
footer {
  font-size: 24px;
  background-color: #BDE8F1;
  height: 70px;
}
footer .wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
}

.footer-nav {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
    list-style: none;
    color: #000;
    margin: 15px 0;
}
footer li{
    padding-right: 50px;
}
   
footer p{
    font-size: 18px;
    margin: 18px 0;
}


/* workspage-共通 */
.workspage .section-title{
    margin-top: 40px;
}
.workspage .works-heading{
    font-size: 25px;
    width: 155px;
    max-height: 34px;
    padding: 0px;
    line-height: 130%;
}
.workspage .works-title{
    display: block;
    margin: 40px 0 15px;
}
.workspage .client{
    font-size: 25px;
    margin-top: 10px;
}
.workspage img{
    max-width: 240px;
}
.workspage  p{
    font-size: 20px;
    margin: 30px 0;
}
.workspage  .img-group{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}
/* workspage-1 */
.website-1 .next{
    justify-content: end;
}
/* workspage-2 */
.lp-1 img{
    max-width: 350px;
    box-shadow: #686868 0px 3px 40px;
}
/* workspage-3 */
.banner-1 .img-group{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}
.banner-1 img{
    max-width: 450px;
}
.dtp-1 img{
    max-width: 278px;
    box-shadow: #686868 0px 3px 40px;
}
/* workspage-5 */
.video-1 .works-heading{
    width: 220px;
}
.video-1 video{
    max-width: 500px;

}

/* レスポンシブ対応
------------------------------- */
@media (max-width: 767px) {
.logo {
    margin: 10px ;
    font-size: 20px;
}
.main-nav {
    font-size: 14px;
    margin-right: 20px;
}

.title h2{
    font-size: 24px;
}
.mv-heading{
    font-size: 24px;
}
.section-title {
    font-size: 30px;
}

#works .grid{
    display: grid;
    gap: 50px 30px;
    grid-template-columns: 1fr;
    margin-bottom: 100px;
    padding: 0;
    place-content: center;
    place-items: center;
}

#about li{
    font-size: 24px;
    padding-left: 30px;
}
#about li::before{
    top: 15px;
    left: 10px;
}
#about p{
   margin: 5px 10px 5px 30px;
}
#about .skill p{
    margin: 25px;
}

.footer-nav {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    list-style: none;
    color: #000;
    margin: 10px;
}
footer li{
    padding-right: 30px;
}
footer p{
    font-size: 12px;
    margin: 0px;
    padding-top: 10px;
}
    
.button{
    max-width: 300px;
}
    
/* wokspage */
.workspage .works-title h5{
    font-size: 20px;
}
.workspage p{
    font-size: 16px;
}
.lp-1 .img-group{
    justify-content: center;
}
.banner-1 .img-group{
    display: flex;
    flex-direction: column;
}
}
